/* Resetting default margins and paddings */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column; /* Organizes the content in a column layout */
    min-height: 100vh; /* Minimum height of 100% of the viewport height */
    font-family: 'Arial', sans-serif; /* Default font */
}

header {
    background-color: #ff5722;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

main {
    flex: 1; 
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.menu-category h2 {
    color: #ff5722;
    margin: 20px 0 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer {
    position: sticky;
    bottom: 0;
}
